@font-face {
    font-family: 'stardosstencil';
    src: url('./fonts/stardosstencil-bold-webfont.woff2') format('woff2'),
         url('./fonts/stardosstencil-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



* {
    margin:0;
    padding:0;

}

html {
    font-family: sans-serif;
}

h1 {
    font-family: 'stardosstencil', serif;
    color: whitesmoke;
}

.mainContainer {
    display:flex;
    flex-flow: row nowrap;
    justify-content: stretch;
    align-items: stretch;
    height: 100vh;
}

.leftSideContainer {
    background-color:darkorchid;
    flex: 1 1 33vw;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: stretch;

    background-image: url(./Images/galaxy.jpg);
    background-size:cover;
    
}

.leftSideContainer > .leftSideTopContent {
    background-color:rgba(53, 33, 52, 0.767);
    margin-top: 25vh;
    gap:25px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items:center;
}
.leftSideContainer > .leftSideBotContent {
    background-color:rgba(53, 33, 52, 0.24);
    padding-bottom: 1vh;
}

.rightSideContainer {
    background-color: rgb(245, 243, 243);
    flex: 1 1 67vw;
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap:25px;
}

.rightSideTopText {
    width:900px;
}
h2 {
    padding-left: 50px;
}
.sign-up-form-header {
    padding-top: 25px;
    padding-bottom: 25px;
}

h2:nth-child(2) {
    padding-top: 25px;
    padding-bottom: 50px;
}

.rightSideForm {
    padding-left:50px;
    background-color: rgb(255, 255, 255);
    display:flex;
    flex-direction: row;
    gap:50px;
    box-shadow: 0 2px 5px 1px #00000070;
    
}

.form-column {
    display:flex;
    gap:25px;
    flex-direction: column;
    margin: 15px 0;
}

.form-pair {
    display:flex;
    flex-direction: column;
    gap:1px;
}
/*
#B22323
*/

h5 {
    text-align: center;
    padding-top: 2px;
    font-family: 'stardosstencil', serif;
    color: whitesmoke;
}

h3 {
    color:rgb(7, 7, 36)
}

a {
    text-decoration: none;
}

a:visited {
    color: whitesmoke;
}

label {
    font-size: small;
    text-transform: uppercase;
}

/*RIGHT SIDE*/

input {
    border-radius: 3px;

}

input:invalid {
  /*border-color: red;*/
  border-color: rgb(236, 81, 81);
}


label {
    position: absoulte;
    
}
textarea:focus, input:focus{
    outline: none;
}
.form-column input[type='text'],
.form-column input[type='email'],
.form-column input[type='tel'],
.form-column input[type='password'] {

    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
}
.form-column input:focus {
    /*border-color: #98a8ff;*/
    border: 1px solid #2a4aff;
    box-shadow: 2px 2px 1px 1px #98a8ff;
    /*border-color: #2a4aff;*/
    /*background: blue;*/
}
input:invalid {
    border: 1px solid #fdd;
    border-color: #900;
    background-color: #fdd;
  }

